* {
    box-sizing: border-box;
}
/* nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 40px;
}
nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    
} */

/* nav ul li {
    display: inline;
    justify-content: space-around;
    background-color: orangered;
} */

/* nav ul li a {
    display: block;
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    padding: 5px;
    margin: 15px;
    text-align: center;
    text-decoration: none;
} */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: url(../images/matrix.jpg); */
    background-repeat: no-repeat;
    background-size: 100%
}

h1 {
    
    text-align: center;
    margin-top: 10px;
    /* background-color: orangered; */
}

h2 {
    text-align: center;

}

p {
    text-align:center;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 700;
    line-height: 1
}
/* #first-project {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#first-project img {
    width: 80%
} */

/* .project-titles {
    position:absolute;
    top: -20px;
    background-color: orangered;
}

.other-projects {
    display: flex;
    justify-content: center;
    text-align: center; 
} */

/* .other-projects a {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 400px
}
.other-projects img {
  width: 60%;
  height: 80%;
  flex: 0 1 auto; 
} */




/* #project-title  {
    position: absolute;
    text-align: center;
    background-color: orangered;
    
} */

#My-Contact-Info {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 40px;
}

#My-Contact-Info ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#My-Contact-Info ul li {
    display: inline;
    justify-content: space-around;
    background-color: orangered;
}

#My-Contact-Info ul li a {
    display: block;
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    padding: 5px;
    margin: 15px;
    text-align: center;
    text-decoration: none;
}
